
a {
    color: #030303;
    font-weight: bold;
}
h1 {
    padding-top: 10px;
}
h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight:bold;
    text-transform:uppercase;
}

.container {
    
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
    background-color: #2f353b;
    color: white;
}
body {

    background-color: antiquewhite;
}

h3 {
    padding-top: 10px;
}

footer {
    padding-top: 30px;
    text-align: center;
}