.nav {
    padding-top: 6px;
    padding-bottom: 6px;
}

h2 {
    text-align: center;
    padding-top: 10px;
}

body {
    /* background-image: url(https://media.istockphoto.com/videos/vintage-alien-invasion-flying-saucer-abducts-a-woman-video-id1125880612?s=640x640);
    background-repeat: no-repeat;
    width: 100%; */
    background-color: antiquewhite;
}