.nav {
    padding-top: 6px;
    padding-bottom: 6px;
}
a {
    color: #030303;
    font-weight: bold;
}
h1 {
    padding-top: 10px;
}
h2 {
    text-align: center;
    padding-top: 20px;
}

.container {
    
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    justify-content: center;
}
body {

    background-color: antiquewhite;
}

h3 {
    padding-top: 10px;
}